<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock - Paper - Scissors</h1>

	<div id="player0" class="player">
		<img id="player0Image" src="">
		<span id="player0Score">0</span>
	</div>

	<div id="player1" class="player">
		<img id="player1Image" src="">
		<span id="player1Score">0</span>
	</div>

	<div class="controls">
		<button id="computer">Computer Plays</button>
		<button id="rock">Rock</button>
		<button id="paper">Paper</button>
		<button id="scissors">Scissors</button>
		<button id="reset">Reset Scores</button>
	</div>

	<div id="result">

	</div>

</body>
</html>
